<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="modsonDbConnectionSettings" type="Modson.ModsonDatabaseConnectionSettings, Modson" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IModsonDatabaseAccessorService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ModsonService/ModsonDatabaseAccessorService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModsonDatabaseAccessorService"
                contract="ModsonDatabaseAccessorService.IModsonDatabaseAccessorService"
                name="BasicHttpBinding_IModsonDatabaseAccessorService" />
    </client>
  </system.serviceModel>

  <modsonDbConnectionSettings Host="127.0.0.1" Port="5432" User="sedjura" Password="crocodile" DatabaseName="Modson" />
</configuration>